<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4 shadow-sm">
    <div class="container-fluid">
    <!--brand an toggle get grouped for better mobile display-->
        <div class="navbar-header">
            <a class="navbar-brand" href="/app01/book_list/" >首頁</a>
            <a href="/app01/book_list" style="margin-left:50px">圖書列表<span clsss="sr-only"></span></a>
            <a href="/app01/author_list" style="margin-left:50px">作者列表</a>
            <a href="/app01/publisher_list" style="margin-left:50px">出版社列表</a>
        </div>
        <div>登入</div>        
    </div><!-- /.container-fluid-->
</nav>